{% extends "admin/change_form.html" %}
{% comment %} 
{% block content %}
    <h2>Account Profile Image</h2>
    {% if original.profile %}
        <img style="width: 800px; margin-bottom: 10px;" src="{{ original.profile.url }}" alt="{{ original.username }} profile">
    {% else %}
        <p>No profile image available</p>
    {% endif %}
    {{ block.super }}
{% endblock %}  {% endcomment %}

{% block content %}
    <style>
        #id_profile {
            display: none;
        }
    </style>
    <h2>Account Profile Image</h2>
    {% if original.profile %}
        <img id="profile-image" style="width: 800px; margin-bottom: 10px;" src="{{ original.profile.url }}" alt="{{ original.username }} profile">
    {% else %}
        <p>No profile image available</p>
    {% endif %}
    {{ block.super }}

    <script>
        document.getElementById("profile-image").addEventListener("click", function() {
            document.getElementById("id_profile").click();
        });
    </script>
{% endblock %}


